.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
    width: 300px;

    h2 {
      text-align: center;
      color: #555;
      margin-bottom: 10px;
    }

    input {
      height: 40px;
      padding-left: 10px;
      border: 1px solid gray;
      border-radius: 5px;

      &:focus {
        outline: none;
        border-bottom: 2px solid teal;
      }
    }

    button {
      height: 40px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #5a2a8b;
      }
    }

    span {
      font-size: 12px;
      color: red;
      text-align: center;
    }
  }
}