.profile {
    display: flex;
    width: 100%;
    min-height: 100vh;

    .profileContainer {
        flex: 1;
        background-color: var(--bg-color);

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 12px;
                    color: purple;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0px 0px 0px 5px;
                }

                .title {
                    font-size: 16px;
                    color: lightgray;
                    margin-bottom: 20px;
                }

                .item {
                    display: flex;
                    gap: 20px;

                    .itemImg {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 10px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 2;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 10px;
            }
        }

        @media screen and (max-width: 768px) {
            .top {
                flex-direction: column;
            }
        }
    }
}

.app.dark {
    .profile {
        .profileContainer {
            background-color: #111;

            .top {

                .left,
                .right {
                    background-color: #181818;
                    border: 1px solid #333;
                    box-shadow: none;

                    .item {
                        .details {
                            .itemTitle {
                                color: #ccc;
                            }

                            .detailItem {
                                .itemValue {
                                    color: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}