.stats {
    display: flex;
    width: 100%;
    min-height: 100vh;

    .statsContainer {
        flex: 1;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;

        .widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts {
            display: flex;
            padding: 20px;
            gap: 20px;
        }
    }
}

.app.dark {
    .stats {
        .statsContainer {
            background-color: #111;
        }
    }
}