.navbar {
    height: 50px;
    border-bottom: 0.5px solid var(--border-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            border-radius: 5px;

            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                cursor: pointer;

                // Hide text/less important icons on mobile
                @media screen and (max-width: 480px) {
                    display: none;
                }

                // Show only avatar and notification on mobile?
                &:last-child,
                &:nth-last-child(2) {
                    @media screen and (max-width: 480px) {
                        display: flex;
                    }
                }
            }

            .icon {
                font-size: 20px;
            }

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
    }
}