.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);

    .home .homeContainer {
        background-color: #111;
    }

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table {
        background-color: #111;

        .tableCell {
            color: gray;
        }
    }

    .navbar {
        color: #999;
        border-color: #333;
        background-color: #111;

        .search {
            border-color: gray;
        }
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .datatable {
        background-color: #111;

        .datagrid {
            color: gray;
            border: none;

            &.MuiDataGrid-root {
                background-color: #111;
                border: 1px solid #333;
            }

            // --- HEADER NUCLEAR FIX ---
            .MuiDataGrid-columnHeaders {
                background-color: #000 !important;
                background: #000 !important;
                border-bottom: 1px solid #333;
            }

            // Force every single element inside the header to be black
            .MuiDataGrid-columnHeaders * {
                background-color: #000 !important;
                background: #000 !important;
            }

            .MuiDataGrid-columnHeader {
                color: #eee !important;
            }

            // --------------------------

            // Filler / Right gap fix
            .MuiDataGrid-filler {
                background-color: #000 !important;
            }

            .MuiDataGrid-virtualScroller {
                background-color: #111 !important;
            }

            .MuiDataGrid-overlay {
                background-color: #111 !important;
                background: #111 !important;
                color: #ccc !important;
            }

            .MuiDataGrid-row {
                background-color: #181818;
                color: #ccc;
                border-bottom: 1px solid #222;

                &:hover {
                    background-color: #252525;
                }

                &.Mui-selected {
                    background-color: rgba(255, 255, 255, 0.08);

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.12);
                    }
                }
            }

            .MuiDataGrid-footerContainer {
                background-color: #000 !important;
                border-top: 1px solid #333;
                color: gray;

                .MuiTablePagination-root {
                    color: gray;
                }

                .MuiTablePagination-selectIcon {
                    color: gray;
                }
            }

            .MuiCheckbox-root {
                color: gray;

                &.Mui-checked {
                    color: teal;
                }
            }

            ::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            ::-webkit-scrollbar-track {
                background: #111;
            }

            ::-webkit-scrollbar-thumb {
                background: #444;
                border-radius: 5px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .viewButton {
                color: #ccc;
                border-color: #ccc;
            }
        }
    }

    .widget,
    .chart,
    .featured,
    .listContainer {
        background-color: #181818;
        border: 1px solid #333;
        box-shadow: none;
        color: #ccc;

        .title {
            color: #ccc;
        }

        .top,
        .bottom {
            color: #ccc;
        }

        .amount {
            color: #ccc;
        }

        .counter {
            color: white;
        }

        .link {
            color: #888;
            border-bottom: 1px solid #555;
        }
    }

    .table {
        background-color: transparent !important;

        .tableCell {
            color: #ccc !important;
        }
    }

    input {
        background-color: transparent;
        color: white;
    }
}